master/bin/* filter=lfs diff=lfs merge=lfs -text
minion/bin/* filter=lfs diff=lfs merge=lfs -text
common/bin/* filter=lfs diff=lfs merge=lfs -text
network/consul/consul filter=lfs diff=lfs merge=lfs -text
network/flanneld filter=lfs diff=lfs merge=lfs -text
