[Unit]
Description=Kubernetes DNS Plugin
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=kube-apiserver.service

[Service]
EnvironmentFile=-/home/kubernetes/common/config
EnvironmentFile=-/home/kubernetes/common/dns
User=kube
ExecStart=/home/kubernetes/common/bin/kube-dns \
	    $KUBE_DNS_ARGS
Restart=on-failure
LimitNOFILE=65536
User=root

[Install]
WantedBy=multi-user.target
