[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=kube-apiserver.service consul.service
Requires=docker.service consul.service

[Service]
WorkingDirectory=/home/kubernetes
EnvironmentFile=-/home/kubernetes/common/config
EnvironmentFile=-/home/kubernetes/minion/kubelet
EnvironmentFile=/home/kubernetes/env/network.env
ExecStart=/home/kubernetes/minion/bin/kubelet \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBELET_API_SERVER \
	    $KUBELET_ADDRESS \
	    $KUBELET_PORT \
	    $KUBELET_HOSTNAME \
	    $KUBE_ALLOW_PRIV \
	    $KUBELET_ARGS
Restart=on-failure
KillMode=process
User=root

[Install]
WantedBy=multi-user.target
